@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  background-color: #f2f2f2;
  color: #333333;
  margin: 0;
  height: 100%;
}

.page-wrapper {
  background-color: #ffffff;
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.main-container {
  flex-grow: 1;
}

.header-navigation {
  margin: 0 auto;
  padding: 0 70px;
  display: flex;
}

.navigation-container {
  margin: 0;
  padding: 0;
  max-width: 633px;
  display: flex;
}

.logo-link {
  margin: 0;
  padding: 0;
  margin-right: 44px;
  margin-bottom: -6px;
  text-decoration: none;
  z-index: 2;
}

.logo-link:hover {
  opacity: 0.6;
}

.logo-link:focus-visible {
  opacity: 0.6;
  outline: none;
}

.logo-link:active {
  opacity: 0.3;
}

.logo-img {
  margin-bottom: -6px;
  height: 70px;
}

.navigation-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 32px;
}

.navigation-user {
  list-style-type: none;
  margin: 0;
  margin-left: auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation-user-button{
  margin-left: 20px;
  padding: 14px 0;
}

.navigation-link {
  margin: 0;
  padding: 20px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-align: center;
  vertical-align: top;
  text-transform: capitalize;
  text-decoration: none;
}

.navigation-link:hover {
  opacity: 0.6;
}

.navigation-link:focus-visible {
  opacity: 0.6;
  outline: none;
}

.navigation-link:active {
  opacity: 0.3;
}

.navigation-link-current {
  position: relative;
}

.navigation-link-current::after {
  position: absolute;
  content: "";
  min-width: 68px;
  width: inherit;
  height: 2px;
  background-color: #756257;
  z-index: 1;
  top: 65px;
  left: 0;
  right: 0;
  bottom: 0;
}

.navigation-user-link:not(.button) {
  padding: 0;
  margin: 0;
  min-width: 44px;
  min-height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
}

.navigation-user-link {
  text-decoration: none;
}

.navigation-user-link:not(.button):hover {
  opacity: 0.6;
}

.navigation-user-link:not(.button):focus-visible {
  opacity: 0.6;
  outline: none;
}

.navigation-user-link:not(.button):active {
  opacity: 0.3;
}

.navigation-user-item {
  position: relative;
}

.navigation-favorite::after {
  content:"12";
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #7db54f;
  color: #ffffff;
  font-size: 10px;
  line-height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 3.5px;
  top: 10.5px;
  position: absolute;
  z-index: 1;
}

.navigation-user-button .button {
  padding: 8px 34px;
  width: 160px;
  height: 36px;
}

@supports not selector(:focus-visible) {
  .logo-link:focus {
    opacity: 0.6;
    outline: none;
  }
  .navigation-link:focus {
    opacity: 0.6;
    outline: none;
  }
  .navigation-user-link:not(.button):focus {
    opacity: 0.6;
    outline: none;
  }
  .button:focus {
    background-color: #615048;
    outline: none;
  }
  .button-blue:focus {
    background-color: #68a2ca;
  }
  .favorited:focus {
    background-color: #6c9e42;
  }
  .hotel-filters-reset-button:focus {
    outline: none;
    border: 3px solid #83b3d3;
    border-radius: 4px;
  }
  .hotel-pagination-link:not(.hotel-pagination-link-current):not(.hotel-pagination-link-space):focus {
    background-color: #68a2ca;
    outline: none;
  }
  .hotel-selection-sort:focus {
    border: 2px solid #68a2ca;
    border-radius: 4px;
  }
  .footer-contacts-phone:focus {
    color: #756157;
    outline: none;
  }
  .hotel-filters-input-radio:focus {
    outline: none;
    box-shadow: 0 0 0 3px #83b3d3;
  }
  .footer-social-link:focus {
    color: #68a2ca;
    outline: none;
  }
  .footer-developer-link:focus {
    color: #756157;
    outline: none;
  }
  .sort-view-link:focus {
    border: 2px solid #68a2ca;
    border-radius: 4px;
  }
  .breadcrumbs-link:not(.breadcrumbs-current):focus {
    outline: none;
    opacity: 0.6;
  }
}

.button {
  border: none;
  display: inline-block;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  background-color: #756157;
  color: #ffffff;
  text-transform: uppercase;
}

.button:hover {
  background-color: #615048;
}

.button:focus-visible {
  background-color: #615048;
  outline: none;
}

.button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  background-color: #e5e5e5;
}

.button-blue {
  background-color: #82b3d3;
}

.button-blue:hover {
  background-color: #68a2ca;
}

.button-blue:focus-visible {
  background-color: #68a2ca;
}

.button-blue:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3)
}

.favorited {
  background-color: #7db54f;
}

.favorited:hover {
  background-color: #6c9e42;
}

.favorited:focus-visible {
  background-color: #6c9e42;
}

.favorited:active {
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.3)
}

.main-index {
  text-align: center;
}

.sedona-welcome {
  background-color: #6cafe4;
  background-image: url("../images/main/welcome-bottom.svg"), url("../images/main/index-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: center bottom, center;
  max-height: 485px;
}

.sedona-welcome-text {
  margin: 51px auto 82px;
}

.advantages-heading {
  margin: 0 auto 26px;
  padding-top: 69px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  max-width: 620px;
}

.advantages-text {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  max-width: 652px;
}

.advantages-text:last-of-type {
  margin-bottom: 90px;
}

.advantages-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 0;
}

.advantages-compound {
  grid-column: 1/-1;
}

.advantages-item {
  display: flex;
}

.advantages-text-block {
  padding: 20px 84px;
  width: 400px;
  min-height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.advantages-item:not(.advantages-dark):not(.advantages-blue) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-dark {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-title {
  margin: 0 0 62px;
  padding: 0 28px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
  position: relative;
}

.advantages-title::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  top: 84px;
  bottom: 0;
  left: 0;
  right: 0;
}

.advantages-blue .advantages-title::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-description {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  font-size: 18px;
  line-height: 21px;
}

.advantages-description:last-child {
  margin-bottom: 0;
}

.advantages-blue {
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages-blue .advantages-title {
  color: #ffffff;
}

.services-heading {
  margin: 0 auto 20px;
  padding-top: 64px;
  max-width: 505px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.services-text {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 490px;
}

.services-text:last-of-type {
  margin-bottom: 64px;
}

.services-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.services-item {
  padding: 20px 84px;
  width: 400px;
  min-height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.services-dark {
  background-color: rgba(131, 179, 211, 0.12);
}

.services-title {
  margin: 0 0 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.services-description {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  font-size: 18px;
  line-height: 21px;
}

.services-description:last-child {
  margin-bottom:0;
}

.services-house::before {
  content: url("../images/main/service-icon-1.svg");
  width: 75px;
  height: 72px;
  margin-bottom: 30px;
}

.services-food::before {
  content: url("../images/main/service-icon-2.svg");
  width: 75px;
  height: 72px;
  margin-bottom: 30px;
}

.services-souvenir::before {
  content: url("../images/main/service-icon-3.svg");
  width: 75px;
  height: 72px;
  margin-bottom: 30px;
}

.hotel-search {
  padding: 96px 0;
}

.hotel-search-title {
  margin: 0 auto 20px;
  padding: 0;
  max-width: 297px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.hotel-search-text {
  margin: 0 auto 54px;
  max-width: 592px;
}

.hotel-search-button {
  margin: 0 auto;
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  width: 376px;
  height: 52px;
}

.subscription {
  padding: 96px 0 104px;
  background-color: #3276af;
  background-image: url("../images/main/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  color: #ffffff;
}

.subscription-title {
  margin: 0 auto 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
}

.subscription-text {
  margin: 0 auto 54px;
  max-width: 475px;
}

.subscription-form {
  display: grid;
  grid-template-columns: 1fr auto;
  max-width: 684px;
  margin: 0 auto;
}

.subscription-email-input {
  border: none;
  border-radius: 4px 0 0 4px;
  margin: 0;
  padding-left: 20px;
  vertical-align: center;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
  color: #000000;
  width: 452px;
  height: 52px;
}

.subscription-button {
  border-radius: 0 4px 4px 0;
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  width: 232px;
  height: 52px;
  cursor: pointer;
}

.page-footer {
  margin: 0;
  padding: 42px 70px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 40px;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.footer-social-link {
  text-decoration: none;
  min-width: 47px;
  min-height: 40px;
  padding: 0 10px;
  color: #83b3d3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social-link:hover {
  color: #68a2ca;
}

.footer-social-link:focus-visible {
  color: #68a2ca;
  outline: none;
}

.footer-social-link:active {
  opacity: 0.3;
}

.footer-contacts {
  max-width: 720px;
}

.footer-contacts-phone {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-contacts-phone:hover {
  color: #756157;
}

.footer-contacts-phone:focus-visible {
  color: #756157;
  outline: none;
}

.footer-contacts-phone:active {
  color: #756157;
  opacity: 0.3;
}

.footer-developer {
  min-width: 110px;
  min-height: 32px;
}

.footer-developer-link {
  text-decoration: none;
  min-width: 115px;
  min-height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
}

.footer-developer-link:hover {
  color: #756157;
}

.footer-developer-link:focus-visible {
  color: #756157;
  outline: none;
}

.footer-developer-link:active {
  color: #756157;
  opacity: 0.3;
}

.inner-header {
  background-color: #3276af;
  background-image: url("../images/catalog/catalog-background.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  color: #ffffff;
}

.inner-header-container {
  margin: 0 auto;
  padding: 35px 70px 70px;
  display: flex;
  flex-direction: column;
}

.inner-header-title {
  margin: 0 0 8px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  margin: 0 0 40px;
  padding: 0;
  list-style-type: none;
  display: flex;
  column-gap: 28px;
  align-items: center;
}

.breadcrumbs-item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: inherit;
  text-decoration: none;
}

.breadcrumbs-link:not(.breadcrumbs-current):hover {
  opacity: 0.6;
}

.breadcrumbs-link:not(.breadcrumbs-current):focus-visible {
  outline: none;
  opacity: 0.6;
}

.breadcrumbs-link:not(.breadcrumbs-current):active {
  opacity: 0.3;
}

.breadcrumbs-home {
  width: 13px;
  height: 15px;
}

.breadcrumbs-item:first-of-type:after {
  content: url("../images/catalog/breadcrumbs-path.svg");
  width: 8px;
  height: 20px;
  position: absolute;
  left: 23px;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.hotel-filters-form {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  column-gap: 70px;
}

.hotel-filters-group {
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-filters-divide {
  margin-right: auto;
}

.hotel-filters-title {
  margin: 0 0 32px;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.hotel-filters-text {
  font-size: 18px;
  line-height: 23px;
}

.hotel-filters-label {
  margin: 0;
  display: flex;
  column-gap: 16px;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}

.hotel-filters-input-radio {
  appearance: none;
  margin: 0;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background-color: #ffffff;
  display: grid;
  place-content: center;
  cursor: pointer;
}

.hotel-filters-input-radio::before {
  content: "";
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 50%;
  background-color: #3f5e72;
  transform: scale(0);
}

.hotel-filters-input-radio:checked::before {
  transform: scale(1);
}

.hotel-filters-label:hover {
  opacity: 0.6;
}

.hotel-filters-input-radio:focus-visible {
  outline: none;
  box-shadow: 0 0 0 3px #83b3d3;
}

.hotel-filters-label:active {
  opacity: 0.3;
}

.hotel-filters-range-text {
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 0.3;
}

.hotel-filters-range-label {
  display: flex;
  flex-direction: row-reverse;
  background-color: #f2f2f2;
  padding: 12px 20px;
  max-width: 143px;
  border: none;
  pointer-events: none;
}

.hotel-filters-range-label:hover {
  background-color: #e6e6e6;
}

.hotel-filters-range-label:focus-within {
  background-color: #e6e6e6;
  box-shadow: 0 0 0 3px #83b3d3;
}

.hotel-filters-range-label:active {
  background-color: #f2f2f2;
  box-shadow: 0 0 0 2px #000000;
}

.hotel-filters-range-label:first-of-type {
  border-radius: 4px 0px 0px 4px;
}

.hotel-filters-range-label:last-of-type {
  border-radius: 0px 4px 4px 0px;
}

.hotel-filters-inputs-container {
  margin: 0 0 36px;
  display: flex;
  flex-wrap: nowrap;
  max-width: 288px;
  column-gap: 2px;
}

.hotel-filters-input-ammount {
  font-family: inherit;
  padding: 0;
  max-width: 90px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  border: none;
  outline: 0;
  color: #000000;
  background-color: inherit;
  pointer-events: auto;
}

.hotel-filters-input-ammount::-webkit-outer-spin-button, .hotel-filters-input-ammount::-webkit-inner-spin-button {
  appearance: none;
}

.hotel-filters-input-ammount::placeholder {
  color: #000000;
}

.hotel-filters-input-range {
  width: 287px;
  height: 20px;
}

.hotel-buttons-container {
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hotel-filters-apply-button {
  width: 191px;
  height: 36px;
  cursor: pointer;
}

.hotel-filters-reset-button {
  border: none;
  padding: 8px 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  border: 3px solid rgba(0, 0, 0, 0);
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}

.hotel-filters-reset-button:hover {
  opacity: 0.6;
}

.hotel-filters-reset-button:focus-visible {
  outline: none;
  border: 3px solid #83b3d3;
  border-radius: 4px;
}

.hotel-filters-reset-button:active {
  color: rgba(255, 255, 255, 0.3)
}

.hotel-filters-reset-button:disabled {
  opacity: 0.1;
}

.hotel-selection {
  margin: 0 auto;
  padding: 50px 70px 60px;
}

.hotel-selection-container {
  margin-bottom: 40px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 70px;
  max-height: 50px;
}

.hotel-selection-output-container {
  margin-right: auto;
}

.hotel-selection-label, .hotel-selection-output {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.hotel-selection-sort {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  width: 292px;
  height: 49px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  padding: 0 20px;
  appearance: none;
  outline: none;
  background-image: url("../images/catalog/select-arrow.svg");
  background-repeat: no-repeat;
  background-size: 14px 9px;
  background-position: center right 20px;
}

.hotel-selection-sort:hover {
  border: 2px solid #68a2ca;
}

.hotel-selection-sort:focus-visible {
  border: 2px solid #68a2ca;
}

.hotel-selection-sort:active {
  border: 2px solid #3f5e72;
}

.hotel-selection-sort:disabled {
  border: 2px solid #000000;
  color: #000000;
  opacity: 0.3;
}

.sort-view {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 8px;
}

.sort-view-link {
  margin: 0;
  width: 48px;
  height: 48px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.sort-view-active {
  border: 2px solid #000000;
  border-radius: 4px;
}

.view-small {
  background-image: url("../images/catalog/sort-view-1.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 14px;
}

.view-large {
  background-image: url("../images/catalog/sort-view-2.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 14px;
}

.view-list {
  background-image: url("../images/catalog/sort-view-3.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 14px;
}

.sort-view-link:hover {
  border: 2px solid #000000;
  border-radius: 4px;
}

.sort-view-link:focus-visible {
  border: 2px solid #68a2ca;
  border-radius: 4px;
  outline: none;
}

.sort-view-link:active {
  border: 2px solid #000000;
  border-radius: 4px;
}

.hotel-cards {
  list-style-type: none;
  margin: 0 0 80px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  min-height: 0;
  max-height: 898px;
  overflow: hidden;
}

.hotel-card-title {
  margin: 0;
  max-width: 300px;
  max-height: 28px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  overflow: hidden;
}

.hotel-card {
  padding: 20px;
  width: 340px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  column-gap: 0;
}

.hotel-card-image {
  order: -1;
  height: 212px;
  object-fit: contain;
}

.hotel-card p {
  margin: 0;
}

.hotel-card-inner {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hotel-card-buttons-container {
  display: flex;
  justify-content: space-between;
}

.hotel-card-about-button {
  width: 140px;
  height: 36px;
  padding: 8px 26px;
}

.hotel-card-favorite-button {
  width: 140px;
  height: 36px;
  cursor: pointer;
}

.hotel-card-rating-container {
  display: flex;
  justify-content: space-between;
}

.hotel-card-rating-container::before {
  content: "";
  max-width: 140px;
}

.four-star::before {
  content: "";
  background-image: url("../images/catalog/rating-star.svg"), url("../images/catalog/rating-star.svg"),
  url("../images/catalog/rating-star.svg"), url("../images/catalog/rating-star.svg");
  background-repeat: no-repeat;
  background-size: 18px 17px;
  background-position: 0px center, 24px center, 48px center, 72px center;
  width: 140px;
}

.three-star::before {
  content: "";
  background-image: url("../images/catalog/rating-star.svg"), url("../images/catalog/rating-star.svg"),
  url("../images/catalog/rating-star.svg");
  background-repeat: no-repeat;
  background-position: 0px center, 24px center, 48px center;
  width: 140px;
}

.two-star::before {
  content: "";
  background-image: url("../images/catalog/rating-star.svg"), url("../images/catalog/rating-star.svg");
  background-repeat: no-repeat;
  background-position: 0px center, 24px center;
  width: 140px;
}

.hotel-card-rating {
  width: 140px;
  height: 36px;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  background-color: #f2f2f2;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
}

.hotel-pagination {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.hotel-pagination-link {
  border: none;
  border-radius: 4px;
  width: 60px;
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hotel-pagination-link:not(.hotel-pagination-link-current):not(.hotel-pagination-link-space):hover {
  background-color: #68a2ca;
}

.hotel-pagination-link:not(.hotel-pagination-link-current):not(.hotel-pagination-link-space):focus-visible {
  background-color: #68a2ca;
  outline: none;
}

.hotel-pagination-link:not(.hotel-pagination-link-current):not(.hotel-pagination-link-space):active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3)
}

.hotel-pagination-link-current {
  background-color: #f2f2f2;
  color: #000000;
}

.hotel-pagination-link-space {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  background-color: rgba(0, 0, 0, 0);
  color: #000000;
}

.subscription-inner {
  text-align: center;
  padding: 96px 0 104px;
}

.subscription-inner-title {
  margin: 0 auto 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.subscription-inner-text {
  margin: 0 auto 54px;
  max-width: 475px;
}

.subscription-inner-form {
  display: grid;
  grid-template-columns: 1fr auto;
  max-width: 684px;
  margin: 0 auto;
}

.subscription-inner-email-input {
  border: none;
  border-radius: 4px 0 0 4px;
  margin: 0;
  padding-left: 20px;
  vertical-align: center;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
  color: #000000;
  width: 452px;
  height: 52px;
}

.subscription-inner-button {
  border-radius: 0 4px 4px 0;
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  width: 232px;
  height: 52px;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

