@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  background-color: #f2f2f2;
  color: #333333;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.page-wrapper {
  background-color: #ffffff;
  margin: 0 auto;
  width: 1200px;
}

.main-index, .inner-main {
  flex-grow: 1;
}

.header-navigation {
  margin: 0 auto;
  width: 1060px;
  display: flex;
}

.navigation-container {
  width: 633px;
  display: flex;
  flex-direction: row;
}

.logo-link {
  margin-right: 28px;
  width: 138px;
  text-decoration: none;
}

.navigation-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 465px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navigation-user {
  list-style-type: none;
  margin: 0;
  margin-left: auto;
  padding: 0;
  width: 306px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-align: left;
  vertical-align: top;
  text-transform: capitalize;
  text-decoration: none;
}

.navigation-user-link {
  text-decoration: none;
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  background-color: #756157;
  color: #ffffff;
  text-transform: uppercase;
}

.main-index {
  text-align: center;
}

.sedona-welcome {
  background-color: #6cafe4;
  background-image: url("../images/main/welcome-bottom.svg"), url("../images/main/index-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: center bottom, center;
}

.advantages-heading{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.advantages-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.advantages-compound {
  display: flex;
  flex-direction: row;
}

.advantages-item-inner {
  padding: 0 85px;
  width: 400px;
}

.advantages-inner {
  display: flex;
  flex-direction: row;
}

.advantages-inner .advantages-item {
  padding: 0 85px;
  width: 400px;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-dark {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
}

.advantages-blue {
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages-blue .advantages-title {
  color: #ffffff;
}

.services-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.services-item {
  padding: 0 85px;
  width: 400px;
}

.services-heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.services-dark {
  background-color: rgba(131, 179, 211, 0.12);
}

.services-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.services-description {
  font-size: 18px;
  line-height: 21px;
}

.hotel-search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.hotel-search-button {
  font-size: 20px;
  line-height: 36px;
}

.subscription {
  background-color: #3276af;
  background-image: url("../images/main/subscribe-background.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  color: #ffffff;
}

.subscription-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  text-transform: uppercase;
}

.subscription-email-input {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
  color: #000000;
}

.subscription-button {
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
}

.page-footer {
  margin: 0 auto;
  width: 1060px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.footer-social-link {
  text-decoration: none;
}

.footer-contacts {
  width: 331px;
}

.footer-contacts-phone {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-developer-link {
  text-decoration: none;
}

.inner-header {
  background-color: #3276af;
  background-image: url("../images/catalog/catalog-background.png");
  background-repeat: no-repeat;
  background-position: left top;
  color: #ffffff;
}

.inner-header-container {
  margin: 0 auto;
  padding: 0;
  width: 1060px;
  display: flex;
  flex-direction: column;
}

.inner-header-title {
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.inner-title-container {
  display: flex;
  flex-direction: column;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: inherit;
  text-decoration: none;
}

.hotel-filters-form {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hotel-filters-container {
  margin: 0;
  margin-right: 140.15px;
  padding: 0;
  width: 370.85px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 70px;
}

.hotel-filters-container .hotel-filters-group {
  border: none;
  width: 150.43px;
  display: flex;
  flex-direction: column;
}

.hotel-price-container {
  width: 549px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  column-gap: 70px;
}

.hotel-filters-price {
  width: 288px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hotel-buttons-container {
  width: 191px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hotel-filters-group {
  margin: 0;
  padding: 0;
  border: none;
}

.hotel-filters-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.hotel-filters-text {
  font-size: 18px;
  line-height: 23px;
}

.hotel-filters-range-text {
  font-size: 18px;
  line-height: 24px;
  text-align: right;
  color: #000000;
}

.hotel-filters-input-ammount {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #f2f2f2;
  width: 143px;
}

.hotel-filters-apply-button {
  background-color: #82b3d3;
}

.hotel-filters-reset-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
  text-transform: uppercase;
  border: none;
}

.hotel-selection {
  margin: 0 auto;
  width: 1060px;
}

.hotel-selection-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hotel-selection-output-container {
  margin-right: 200px;
  width: 338px;
}

.hotel-selection-label, .hotel-selection-output {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.hotel-selection-sort {
  font-size: 18px;
  line-height: 21px;
  margin-right: 70px;
  width: 292px;
}

.sort-view {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.sort-view-link {
  text-decoration: none;
}

.hotel-cards {
  list-style-type: none;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.hotel-card {
  width: 340px;
}

.hotel-card-inner {
  font-size: 18px;
  line-height: 21px;
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hotel-card-favorite-button {
  background-color: #82b3d3;
}

.favorited {
  background-color: #7db54f;
}

.hotel-card-rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background-color: #f2f2f2;
  text-transform: uppercase;
}

.hotel-pagination {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hotel-pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  background-color: #82b3d3;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.hotel-pagination-link-current {
  background-color: #f2f2f2;
  color: #000000;
}

.hotel-pagination-link-space {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  background-color: rgba(0, 0, 0, 0);
  color: #000000;
}

.subscription-inner {
  text-align: center;
}

.subscription-inner-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.subscription-inner-email-input {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
  color: #000000;
}

.subscription-inner-button {
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
}
